## Logging
LOG_LEVEL=INFO
DRY_RUN=0

PK=''
FUNDER=''
CLOB_API_KEY=''
CLOB_SECRET='-='
CLOB_PASS_PHRASE=''
TOKEN_ID=''


CLOB_API_URL=https://clob.polymarket.com
GAMMA_API_URL=https://gamma-api.polymarket.com
CHAIN_ID=137
SIGNATURE_TYPE=1

POLL_INTERVAL_SECONDS=3
ORDER_TTL_SECONDS=8
MIN_RESOLUTION_HOURS=20

PERCENTILE_LOW=70
PERCENTILE_HIGH=95
MIN_PRICE=0.15
MAX_PRICE=0.85
MIN_SPREAD=0.01
MAX_SPREAD=0.04
SCANNER_PAGE_SIZE=500
SCANNER_MAX_MARKETS=500
SCANNER_MIN_BOOK_DEPTH=1

QUOTE_OFFSET=0.02
QUOTE_OFFSET_MODE=absolute
ORDER_SIZE=5
MAX_POSITION_PER_SIDE=10
MAX_OPEN_ORDERS=10
MAX_TOTAL_CAPITAL=100
MAX_DAILY_LOSS=25

VOL_WINDOW=30
VOL_THRESHOLD=0.08
ARB_FEE_BUFFER=0.001

SANITY_TEST_PRICE=0.02
SANITY_TEST_SIZE=5

TICK_SIZE = 0.001
